<form [formGroup]="form" class="ob-grid">
    <!-- Committee -->
    <div class="ob-span-4">
        <mat-form-field>
            <mat-label>{{ 'worklist.filter.committee.label' | translate }}</mat-label>
            <input title="{{ 'worklist.filter.committee.label' | translate }}" #committee type="text" matInput [formControl]="form.controls.committee" />
            <button type="button" role="button" [obInputClear]="committee" (onClear)="clearCommittee()">
                <mat-icon svgIcon="xmark_circle" class="ob-icon" />
            </button>
        </mat-form-field>
    </div>

    <!-- Department -->
    @if (isAdmin()) {
        <div class="ob-span-2">
            <mat-form-field>
                <mat-label>{{ 'worklist.filter.department.label' | translate }}</mat-label>
                <mat-select multiple [formControl]="form.controls.departments">
                    @for (department of masterDataService.permittedDepartments(); track department.id) {
                        <mat-option [value]="department.id">{{ department.text }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
    }

    <!-- Office -->
    @if (isAdmin() || isDepartmentUser()) {
        <div class="ob-span-2">
            <mat-form-field>
                <mat-label>{{ 'worklist.filter.office.label' | translate }}</mat-label>
                <mat-select multiple [formControl]="form.controls.offices">
                    @for (office of departmentOffices(); track office.id) {
                        <mat-option [value]="office.id">{{ office.text }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
    }

    <!-- Worklist Task Type -->
    <div class="ob-span-2">
        <mat-form-field>
            <mat-label>{{ 'worklist.filter.worklistTaskType.label' | translate }}</mat-label>
            <mat-select multiple [formControl]="form.controls.worklistTaskTypes">
                @for (worklistTaskType of masterDataService.worklistTaskTypes(); track worklistTaskType.id) {
                    <mat-option [value]="worklistTaskType.id">{{ worklistTaskType.text }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>

    <!-- Worklist Task Status -->
    <div class="ob-span-2">
        <mat-form-field>
            <mat-label>{{ 'worklist.filter.worklistTaskState.label' | translate }}</mat-label>
            <mat-select multiple [formControl]="form.controls.worklistTaskStates">
                @for (worklistTaskState of masterDataService.worklistTaskStates(); track worklistTaskState.id) {
                    <mat-option [value]="worklistTaskState.id">{{ worklistTaskState.text }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
    @if (!isAdmin()) {
        <div style="grid-column: span 1"></div>

        @if (!isDepartmentUser()) {
            <div style="grid-column: span 2"></div>
        }
    }

    <!-- Created -->
    <div class="ob-span-2">
        <mat-form-field obErrorMessages>
            <mat-label>{{ 'worklist.filter.created.label' | translate }}</mat-label>
            <mat-date-range-input [rangePicker]="createdDatePicker">
                <input matStartDate [formControl]="form.controls.createdFrom" placeholder="{{ 'worklist.filter.created.from' | translate }}" />
                <input matEndDate [formControl]="form.controls.createdTo" placeholder="{{ 'worklist.filter.created.to' | translate }}" />
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="createdDatePicker" />
            <mat-date-range-picker #createdDatePicker />
        </mat-form-field>
    </div>

    <!-- Due Date -->
    <div class="ob-span-2">
        <mat-form-field obErrorMessages>
            <mat-label>{{ 'worklist.filter.dueDate.label' | translate }}</mat-label>
            <mat-date-range-input [rangePicker]="dueDateDatePicker">
                <input matStartDate [formControl]="form.controls.dueDateFrom" placeholder="{{ 'worklist.filter.dueDate.from' | translate }}" />
                <input matEndDate [formControl]="form.controls.dueDateTo" placeholder="{{ 'worklist.filter.dueDate.to' | translate }}" />
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="dueDateDatePicker" />
            <mat-date-range-picker #dueDateDatePicker />
        </mat-form-field>
    </div>

    <!-- Assigned By  -->
    <div class="ob-span-2">
        <mat-form-field>
            <mat-label>{{ 'worklist.filter.assignedBy.label' | translate }}</mat-label>
            <mat-select [formControl]="form.controls.assignedBy">
                <mat-option value="Admin">{{ 'worklist.filter.role.admin.label' | translate }}</mat-option>
                <mat-option value="Department">{{ 'worklist.filter.role.department.label' | translate }}</mat-option>
                <mat-option value="Office">{{ 'worklist.filter.role.office.label' | translate }}</mat-option>
                <mat-option value="Secretariat">{{ 'worklist.filter.role.secretariat.label' | translate }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <!-- Assigned To  -->
    <div class="ob-span-2">
        <mat-form-field>
            <mat-label>{{ 'worklist.filter.assignedTo.label' | translate }}</mat-label>
            <mat-select [formControl]="form.controls.assignedTo">
                <mat-option value="Admin">{{ 'worklist.filter.role.admin.label' | translate }}</mat-option>
                <mat-option value="Department">{{ 'worklist.filter.role.department.label' | translate }}</mat-option>
                <mat-option value="Office">{{ 'worklist.filter.role.office.label' | translate }}</mat-option>
                <mat-option value="Secretariat">{{ 'worklist.filter.role.secretariat.label' | translate }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="ob-span-4 buttons">
        <apg-help-tooltip size="big" text="worklist.helpTooltip.general" />
        <button mat-button obButton="secondary" type="button" (click)="reset()">
            {{ 'committees.filter.reset' | translate }}
        </button>
        @if (isAdmin()) {
            <button (click)="createTask()" mat-button obButton="secondary" type="button" [matTooltip]="'worklist.task.create' | translate">
                <mat-icon svgIcon="plus" />
                {{ 'worklist.task.create' | translate }}
            </button>
        }
    </div>
</form>
