:host::ng-deep {
    table {
        width: 100%;
        table-layout: fixed;
        display: table;
        thead {
            tr {
                th {
                    &:nth-child(1) {
                        width: 40%;
                    }
                    &:nth-child(2) {
                        width: 20%;
                    }
                    &:nth-child(3) {
                        width: 20%;
                    }
                    &:nth-child(4) {
                        width: 20%;
                    }
                }
            }
        }
    }

    .display-line-breaks {
        white-space: pre-wrap;
    }
}
