@use '@oblique/oblique/styles/scss/core/variables' as *;

:host {
    display: flex;
    flex-direction: column;
    max-width: 75ch;
    margin: auto;

    .task-create-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $ob-spacing-sm;

        .buttons {
            display: flex;
            gap: $ob-spacing-sm;
            text-wrap: nowrap;
        }
    }
}
