.lance-ui-container {
  --button-bg-color: linear-gradient(90deg, #edf1f1 0%, #b4b9ba);
  --button-text-color: #0a0a0a;
  --button-border-color: rgba(128, 128, 128, 0.5);
  --button-border-style: groove;
  --button-border-width: 1px;
  --button-border-radius: 2px;
}
