.lance-ui-container {
	--button-bg-color: linear-gradient(90deg, rgba(237,241,241,1) 0%, rgba(180,185,186,1));
	--button-text-color: rgb(10, 10, 10);
	--button-border-color:rgba(128, 128, 128, 0.5);
	--button-border-style: groove;
	--button-border-width: 1px;
	--button-border-radius: 2px;
}
