.lance-ui-container {
	--command-action-color: rgb(32, 38, 255);
	--command-danger-color: rgb(255,32,32);
	--command-success-color: rgb(21, 222, 28);

	--comment-info-bg-color: rgb(244, 244, 255);
	
	--comment-text-color: rgb(32, 32, 96);
	
	--button-bg-color: rgb(230, 240, 255);
}
