.lance-ui-container {
  --command-action-color: #2026ff;
  --command-danger-color: #ff2020;
  --command-success-color: #15de1c;
  --comment-info-bg-color: #f4f4ff;
  --comment-text-color: #202060;
  --button-bg-color: #e6f0ff;
}
