.lance-ui-container {
  --command-action-color: #4040ff;
  --command-danger-color: #ff4020;
  --command-success-color: #15aa20;
  --comment-info-bg-color: #f4f4f0;
  --comment-text-info-color: #212121;
  --comment-text-info-light-color: #373737;
  --comment-text-info-font-size: 0.875em;
  --comment-text-info-small-font-size: 0.75em;
  --comment-mention-color: #6cabf8;
  --comment-link-color: #544ef6;
  --comment-text-font-size: 0.875em;
  --comment-text-color: #161616;
  --comment-text-bg-color: white;
  --button-bg-color: #f0f0ee;
  --ui-border-light-color: #c4c4c4;
  --ui-border-med-color: gray;
  --ui-border-dark-color: #404040;
}
