<div class="members-tooltip-content">
    <p>
        <strong>{{ 'committee.membersTooltip.title' | translate }}</strong>
    </p>
    <table class="members-rules-table">
        <thead>
            <tr>
                <th>{{ 'committee.membersTooltip.headerDecree' | translate }}</th>
                <th>{{ 'committee.membersTooltip.headerEntry' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ 'committee.membersTooltip.row1Decree' | translate }}</td>
                <td>{{ 'committee.membersTooltip.row1Entry' | translate }}</td>
            </tr>
            <tr>
                <td>{{ 'committee.membersTooltip.row2Decree' | translate }}</td>
                <td>{{ 'committee.membersTooltip.row2Entry' | translate }}</td>
            </tr>
            <tr>
                <td>{{ 'committee.membersTooltip.row3Decree' | translate }}</td>
                <td>{{ 'committee.membersTooltip.row3Entry' | translate }}</td>
            </tr>
            <tr>
                <td>{{ 'committee.membersTooltip.row4Decree' | translate }}</td>
                <td>
                    {{ 'committee.membersTooltip.row4EntryAPK' | translate }}<br />
                    {{ 'committee.membersTooltip.row4EntryNonAPK' | translate }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
