@use '@oblique/oblique/styles/scss/core/variables' as *;
@use '@oblique/oblique/styles/scss/core/palette' as *;

$gap: 16px;

:host {
    padding-bottom: 4px;

    form {
        display: flex;
        flex-direction: column;
        column-gap: $gap;
        max-width: 150ch;
        margin: auto;

        .input-grid {
            display: flex;
            flex-wrap: wrap;
            column-gap: $gap;

            > * {
                flex: 1 1 calc(50% - $gap);
                max-width: calc(50%);
            }
        }
    }
}

.buttons {
    text-align: right;

    button + button {
        margin-left: $ob-spacing-sm;
    }
}

.data-panel {
    background-color: $ob-secondary-50;
    margin-bottom: $ob-spacing-lg;
    border-radius: 15px;
    padding: $ob-spacing-sm;
}

.input-field-left {
    margin-left: $ob-spacing-sm;
}

.input-field-right {
    margin-right: $ob-spacing-sm;
}

.input-field-top {
    margin-top: $ob-spacing-sm;
}

.panel-title {
    font-weight: bold;
    font-size: larger;
}

.panel-title-with-tooltip {
    display: flex;
    align-items: start;
    gap: $ob-spacing-sm;

    apg-help-tooltip {
        margin-top: 4px;
    }
}
