@if (person) {
    @if (person.needsAttentionOccupation) {
        <ob-alert type="warning">{{ 'person.details.warning.occupation' | translate }}</ob-alert>
    } @else {
        @if (!person.noEmployment && !person.federalDuty && (!person.occupations || person.occupations.length === 0 || !person.employer)) {
            <ob-alert type="info">{{ 'person.details.info.occupation' | translate }}</ob-alert>
        }
    }
}
<div class="person-data-header">
    <h2>{{ 'person.details.data.edit' | translate }}</h2>
    <div class="buttons">
        @if (person?.canDelete) {
            <button type="button" class="delete-button" mat-button obButton="secondary" (click)="deletePerson()">
                {{ 'common.delete' | translate }}
            </button>
        }
        <button (click)="reset()" [disabled]="!form().dirty" mat-button obButton="secondary" type="button">{{ 'common.reset' | translate }}</button>
        <button mat-button obButton="primary" type="button" [disabled]="!form().dirty || !form().valid || formComponent().hasAddressErrors()" (click)="save()">
            {{ 'common.save' | translate }}
        </button>
    </div>
</div>
<apg-person-data-form [(personModification)]="personUpdate" [isUpdateMode]="true" />
