.quicktips-tooltip .lance-tooltip {
  display: flex;
  flex-direction: column;
  font-size: .875em;
}

.quicktips-tooltip .lance-tooltip .lance-tt-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.quicktips-tooltip .lance-tooltip .lance-tt-header .lance-tt-avatar {
  overflow: hidden;
}

.quicktips-tooltip .lance-tooltip .lance-tt-header .lance-tt-avatar.with-avatar {
  border-radius: 25%;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.quicktips-tooltip .lance-tooltip .lance-tt-header .lance-tt-user {
  flex-grow: 1;
  max-width: 4vw;
  max-height: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.quicktips-tooltip .lance-tooltip .lance-tt-text {
  flex-grow: 1;
  font-weight: normal;
  max-height: 3em;
  padding: 2px 5px;
  max-width: 11vw;
  width: fit-content;
  overflow: hidden;
  display: inline-block;
}

span.fr-video[data-flite-cid] {
  width: -moz-fit-content;
  width: fit-content;
}

.fr-toolbar .fr-command.fr-btn svg.loopindex-button[height='32'] {
  width: auto;
  transform: scale(0.75) translate(0px, -6px);
  transform-origin: center center;
}
