<h3>{{ generalElectionCommittee()?.description }}</h3>
<div class="membership-candidate-data-header">
    <h4>{{ 'generalElection.membershipCandidate.edit' | translate }}</h4>

    <div class="buttons">
        <button (click)="back()" mat-button obButton="secondary" type="button">{{ 'common.back' | translate }}</button>
        <button mat-button obButton="secondary" [disabled]="!form().dirty" type="button" (click)="reset()">{{ 'common.reset' | translate }}</button>
        <button mat-button obButton="primary" type="button" [disabled]="!form().valid || !form().dirty" (click)="save()">
            {{ 'common.save' | translate }}
        </button>
    </div>
</div>

<apg-membership-candidate-data-form [(membershipCandidateModification)]="membershipCandidateToUpdate" [(generalElectionCommittee)]="generalElectionCommittee" />
