{
    "printWidth": 160,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "bracketSpacing": false,
    "arrowParens": "avoid",
    "parser": "typescript",
    "endOfLine": "auto",
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "parser": "angular"
            }
        },
        {
            "files": "*.scss",
            "options": {
                "parser": "scss"
            }
        }
    ]
}
