@if (committeeDetailsService.committeeDetails(); as committeeDetails) {
    @if (!this.generalElectionService.isGeneralElectionVisible() && committeeDetails.futureGeneralElectionCommittee) {
        <ob-alert type="info">{{ 'committee.generalElection.futureCommittee.hint' | translate }}<br /></ob-alert>
    }
    @if (this.generalElectionService.isGeneralElectionVisible() && committeeDetails.futureGeneralElectionCommittee) {
        <ob-alert type="info">{{ 'committee.generalElection.changesNotMirroredToFuture.hint' | translate }}<br /></ob-alert>
    }
}

<div class="committee-data-header">
    <h2>
        @if (!!committeeUpdate()) {
            {{ 'committee.details.data.edit' | translate }} - {{ committeeUpdate()!.committeeNumber }}
            {{ committeeUpdate()!.isActive ? ('committee.details.active' | translate) : ('committee.details.inactive' | translate) }}
            {{ isExtraParliamentaryCommission ? ('committee.details.extraParliamentaryCommissionAbbreviation' | translate) : '' }}
        }
    </h2>
    <div class="buttons">
        <button (click)="reset()" [disabled]="!form().dirty" mat-button obButton="secondary" type="button">{{ 'common.reset' | translate }}</button>
        <button mat-button obButton="primary" type="button" [disabled]="!form().dirty || !form().valid" (click)="save()">
            {{ 'common.save' | translate }}
        </button>
    </div>
</div>

<apg-committee-data-form
    [(committeeModification)]="committeeUpdate"
    [isUpdateMode]="true"
    (isExtraParliamentaryCommmission)="handleExtraParliamentaryCommission($event)"
/>
