<h4 mat-dialog-title>{{ 'common.forward' | translate }}</h4>
<mat-dialog-content>
    <form [formGroup]="form">
        <fieldset>
            <mat-form-field obErrorMessages>
                <mat-label>{{ 'candidateList.forward.forwardTo' | translate }}</mat-label>
                <mat-select required [formControl]="form.controls.forwardToId">
                    @for (assignment of availableAssignments(); track assignment.id) {
                        <mat-option [value]="assignment.id">{{ assignment.text }}</mat-option>
                    }
                </mat-select>
                <mat-error />
            </mat-form-field>

            <mat-form-field obErrorMessages>
                <mat-label>{{ 'worklist.task.description' | translate }}</mat-label>
                <textarea cdkTextareaAutosize [cdkAutosizeMinRows]="3" [cdkAutosizeMaxRows]="15" matInput [formControl]="form.controls.description"></textarea>
                <mat-error />
            </mat-form-field>
        </fieldset>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button type="button" mat-button obButton="secondary" mat-dialog-close>{{ 'common.cancel' | translate }}</button>
    <button type="button" mat-button obButton="primary" (click)="forward()">{{ 'common.forward' | translate }}</button>
</mat-dialog-actions>
