.form-letters-sender-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    h3 {
        margin: 0;
    }
}

.actions-column {
    text-align: center;
}
