:host {
    [class*='mat-column'] {
        white-space: nowrap;
        max-width: 10vw;
        width: 1%;
    }

    ::ng-deep .mat-sort-header {
        padding: 4px 4px 4px 8px;

        .mat-sort-header-content {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-right: 4px;
        }
        .mat-sort-header-arrow {
            margin: 0;
        }
    }

    .mat-column-worklistTaskType {
        min-width: 15vw;
    }

    .mat-column-section {
        min-width: 20vw;
        width: 100%;
    }

    .mat-column-created,
    .mat-column-dueDate {
        min-width: 100px;
    }

    .mat-column-actions {
        padding: 0 4px 0 0;
    }
}
