@use '@oblique/oblique/styles/scss/core/variables' as *;
@use '@oblique/oblique/styles/scss/core/palette' as *;

$gap: 16px;

:host {
    display: flex;
    flex-direction: column;
    max-width: 150ch;
    margin: auto;
    form {
        display: flex;
        flex-direction: column;
        column-gap: $gap;
        max-width: 150ch;
        margin: auto;

        .input-grid {
            display: flex;
            flex-wrap: wrap;
            column-gap: $gap;

            > * {
                flex: 1 1 calc(50% - $gap);
                max-width: calc(50%);
            }
        }
    }
}

mat-card-content {
    display: flex;
}
