<apg-form-letters-sender-data-form [isUpdateMode]="true" [(senderModification)]="senderToUpdate" />

<div class="form-actions">
    <button mat-button obButton="secondary" (click)="close()">
        {{ 'common.cancel' | translate }}
    </button>
    <button (click)="reset()" [disabled]="!form().dirty" mat-button obButton="secondary" type="button">{{ 'common.reset' | translate }}</button>
    <button mat-button obButton="primary" (click)="save()" [disabled]="!form().valid || !form().dirty">
        {{ 'common.save' | translate }}
    </button>
</div>
