@use '@oblique/oblique/styles/scss/core/variables' as *;
@use '@oblique/oblique/styles/scss/core/palette' as *;

:host .committee-overview {
    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;

        td {
            align-content: start;
            padding: 4px 12px;
            min-width: 120px;

            &.heading-text {
                font-weight: bold;
                text-wrap: nowrap;
                width: 10%;
            }
        }

        tr:nth-child(odd) {
            background-color: $ob-gray-extra-light;
        }

        tr {
            &:nth-child(2),
            &:first-child {
                td {
                    border-bottom: 0;
                }

                td:first-child {
                    border-top-left-radius: 4px;
                }

                td:last-child {
                    border-top-right-radius: 4px;
                }
            }

            &:last-child {
                td:first-child {
                    border-bottom-left-radius: 4px;
                }

                td:last-child {
                    border-bottom-right-radius: 4px;
                }
            }
        }
    }
}
